html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1440px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #000;
    width: 400px;
    height: 400px;
}

#sketch_divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
}

.simple_div {
    background: #fff;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    flex: 1 auto;
}